# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/
env/

*.pyc
__pycache__/

# Archivos generados / caché
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info/

# Archivos de configuración local/secretos
.env